.attribution {
  text-align: center;
  padding: 10px;
  background-color: $very-dark-desaturated-blue;
  color: $white-text;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  & a {
    font-family: "Ubuntu";
    color: $light-red-cta;
    text-decoration: dashed underline;
    font-weight: 500;
  }
}
