header {
  padding: 60px 0;
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: 30.4% 53%;
  background-size: 271%;
  border-bottom-left-radius: 150px;
  @include breakpoint-down(small) {
    background-image: url(../images/bg-pattern-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: 35% 26%;
    background-size: 373%;
    border-bottom-left-radius: 150px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #ff8f70, #ff3d54);
    z-index: -1;
    border-bottom-left-radius: 150px;
  }
  & nav {
    width: 100%;
    position: relative;
    @include breakpoint-up(small) {
      justify-content: flex-start;
    }
    & .logo {
      margin-right: 67px;
      cursor: pointer;
      text-align: center;

      height: 40px;
      width: 101px;
    }
    & .links {
      flex-grow: 1;
      @include breakpoint-down(small) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 40px);
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        padding: 33px 24px;
        background-color: #fff;
        border-radius: 5px;
        width: 324px;
        box-shadow: 0px 18px 77px -30px black;
      }
      & .nav-ul {
        @include breakpoint-down(small) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        & li {
          @include breakpoint-down(small) {
            margin: 0 0 28px 0;
            color: $very-dark-black-blue-fb;
          }
          margin-right: 32px;
          font-family: "Ubuntu";
          position: relative;
          &:hover {
            color: $white-text;
            @include breakpoint-down(small) {
              &:hover {
                color: $very-dark-grayish-blue-bc;
              }
            }
          }
          & span {
            position: relative;
            &::before {
              content: "";
              background-image: url(../images/icon-arrow-light.svg);
              position: absolute;
              top: 50%;
              transform: translateY(-25%);
              left: 107%;
              height: 10px;
              width: 10px;
              background-repeat: no-repeat;
              transition: 0.3s;
              @include breakpoint-down(small) {
                background-image: url(../images/icon-arrow-dark.svg);
              }
            }
            &:hover::before {
              transform: rotate(180deg) translateY(50%);
              transform-origin: center center;
            }

            & a {
              color: #ffddd8;
              font-family: "Ubuntu";
              font-size: $reg-fs;
              transition: 0.3s;
              &:hover {
                color: $white-text;
                @include breakpoint-down(small) {
                  &:hover {
                    color: $very-dark-grayish-blue-bc;
                  }
                }
              }
              @include breakpoint-down(small) {
                color: $very-dark-black-blue-fb;
              }
              &:focus-within .pop {
                display: flex;
              }
            }
          }
          @include breakpoint-up(large) {
            &:hover::after {
              width: 100%;
            }
          }
          &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 0%;
            left: 0;
            top: 97%;
            background-color: #fff;
            transition: 0.3s;
          }
          & .pop {
            position: absolute;
            top: calc(100% + 20px);
            left: -40%;
            padding: 36px 26px;
            background-color: $white-text;
            border-radius: 7px;
            transition: 0.3s;
            box-shadow: 0px 18px 77px -30px black;
            width: 170px;
            display: none;
            @include breakpoint-up(large) {
              align-items: flex-start;
            }

            @include breakpoint-down(small) {
              position: unset;
              box-shadow: unset;
              margin-top: 26px;
              background-color: #e4e4e4;
              padding: 29px;
              width: calc(324px - 48px);
              border-radius: 5px;
              color: $very-dark-grayish-blue-bc;
              text-align: center;
            }
            & a {
              display: block;
              text-align: center;
              width: fit-content;
              color: #6d7981;
              font-size: $reg-fs;
              font-weight: 500;
              &:hover {
                color: $very-dark-black-blue-fb;
              }
            }
            & a:not(:last-child) {
              margin-bottom: 24px;
            }
          }

          // this one is the revealer
          &:focus-within .pop {
            display: inline-flex;
          }
        }
      }
    }
    & .right-side {
      & a:first-of-type {
        margin-right: 33px;
        color: $white-text;
        font-family: "Ubuntu";
        @include breakpoint-down(small) {
          color: $very-dark-black-blue-fb;
          margin: 36px 0 27px 0;
          font-size: 18px;
        }
      }

      & a:last-of-type {
        transition: 0.3s;
        @include breakpoint-down(small) {
          background-image: linear-gradient(
            to right,
            $very-light-red,
            $light-red
          );
          color: $white-text;
        }
        &:hover {
          background-color: $very-light-red-cta-hovback;
          color: $white-text;
        }
      }
      @include breakpoint-down(small) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        & ::before {
          content: "";
          position: absolute;
          top: 0;
          left: -68px;
          width: calc(324px - 48px);
          height: 2px;
          background-color: #e4e4e4;
        }
      }
    }
    & .burger {
      cursor: pointer;
    }
  }
  & .sub-nav {
    margin: 155px auto;
    text-align: center;
    & h1 {
      margin: 0;
      color: $white-text;
      font-size: 60px;
      @include breakpoint-down(small) {
        font-size: 34px;
      }
    }
    & p {
      font-size: 21px;
      color: $white-text;
      margin-top: 35px;
      margin-bottom: 65px;
      @include breakpoint-down(small) {
        font-size: 18px;
      }
    }
    & .buttons {
      & a:first-of-type {
        margin-right: 18px;
        transition: 0.3s;
        &:hover {
          background-color: $very-light-red-cta-hovback;
          color: $white-text;
        }
      }
      & a:last-of-type {
        color: $white-text;
        background-color: transparent;
        border: 1px solid $white-text;
        transition: 0.3s;
        &:hover {
          background-color: $white-text;
          color: $light-red-cta;
        }
      }
    }
  }
}
