// PRIMARY COLORS
$light-red-cta: #ff525d;
$very-light-red-cta-hovback: #ff7a85;
$very-dark-blue-head: #1f3f5b;

// NEUTRAL COLORS
$white-text: #ffffff;
$grayish-blue-ft: #c8c8cb;
$very-dark-grayish-blue-bc: #4b5862;
$very-dark-black-blue-fb: #25252d;

// GRADIENTS
// Background gradient - Intro/CTA mobile nav:
$very-light-red: #ff8f70;
$light-red: #ff3d54;

//Background gradient - body:
$very-dark-gray-blue: #2c2d3f;
$very-dark-desaturated-blue: #3f4164;

$reg-fs: 16px;
